*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}
html
{
	scroll-behavior: smooth;
}
.navwrap
{
	width: 100%;
	position: relative;

	z-index: 10000000;
}
.nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
}
.navlogo>p
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 3em;
	color: white;
}

.navitems>ul
{
	display: flex;
	align-items: center;
}
.navitems>ul>li
{
	list-style-type: none;
	margin: 0 20px 0 20px;
}
.navitems>ul>li>button
{
	border: none;
	outline: none;
	padding: 12px 30px 12px 30px;
	background: #583999;
	border-radius: 25px;
}
.navitems>ul>li>button>a
{
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2em;
	transition: 1s;
}
.navitems>ul>li>a
{
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2em;
	transition: .5s;
}
.navitems>ul>li>a:hover
{
	opacity: 0.7;
}
.mobnav.active
{
	right: 0;
}
.mobnav
{
	position: fixed;
	right: -350px;
	top: 0;
	width: 300px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #141414;
	z-index: 100000000;
	transition: 2s;
}
.navitems-mb
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.navitems-mb>ul
{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.navitems-mb>ul>li
{
	list-style-type: none;
	margin-top: 20px;
}
.navitems-mb>ul>li>a
{
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
}
.navitems-mb>ul>li>a:hover
{
	opacity: 0.7;
}
.navitems-mb>ul>li>button
{
	border: none;
	outline: none;
	padding: 12px 30px 12px 30px;
	background: #583999;
	border-radius: 25px;
	opacity: 0.5;
	transition: 1s;
}
.navitems-mb>ul>li>button:hover
{
	opacity: 1;
}
.navitems-mb>ul>li>button>a
{
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2em;
}
.carousel
{
	width: 100%;
	min-height: 70vh;
	overflow: hidden;
	position: relative;
	display: flex;
}
.carousel-item, .carousel-item>img
{
	width: 100%;
	height: 100%;
}
.carousel::after
{
	content: '';
	background: black;
	opacity: 0.65;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.carousel-control-prev,
.carousel-control-next
{
	z-index: 10000000;
	position: absolute;
	top: 100px;
	bottom: 0 !important;
	height: 80%;
}

.overlay-headerwrap
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1000000;
}
.overlayheader>p
{
	font-size: 2.7em;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	line-height: 30px;
}
.overlayheader>p>span
{
	font-weight: 500;
	font-size: .7em;
}
.overlayheader>p:nth-child(2)
{
	font-size: 1.5em;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.ctabtn>a
{
	text-decoration: none;
}
.ctabtn>a>button
{
	border: none;
	outline: none;
	padding: 12px 30px 12px 30px;
	background: #583999;
	border-radius: 2.5em;
	transition: 1s;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2em;
}
.ocont
{
	max-width: 50%;
}
.ocont>p
{
	color: white;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.ham
{
	position: absolute;
	right: 40px;
	top: 30px;
	justify-content: center;
	display: none;
	flex-direction: column;
	align-items: flex-end;
	cursor: pointer;
	gap: 5.5px;
	z-index: 1000000000000;
}
.s1
{
	width: 40px;
	height: 2.5px;
	background: white;
	transition: 2s;
}
.s2
{
	width: 25px;
	height: 2.5px;
	background: white;
	transition: 2s;
}
.s3
{
	width: 17px;
	height: 2.5px;
	background: white;
	transition: 2s;
}
.s1.active
{
	transform: rotate(135deg);
	position: absolute;
}

.s2.active
{
	width: 50px;
	height: 2.5px;
	background: white;
	transform: rotate(45deg);
	position: absolute;
	bottom: 24px;
	left: 5px;
}
.s3.active
{
	display: none;
}
/*Services*/
.services
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.serv-header
{
	margin-top: 5em;
}
.serv-header>p
{
	font-size: 3em;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.serv-header>p::after
{
	content: '';
	width: 100%;
	height: 5px;
	background: #583999;
	position: absolute;
	bottom: -3px;
	left: 0;
}
.cardsec
{
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
	padding: 5em 1em 5em 1em;
}
.card
{
	width: 300px;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
	outline: none;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 50%);
	transition: .5s;
}
.card:hover
{
	box-shadow: 1px 0px 25px 3px rgb(0 0 0 / 50%);
}
.cardimg
{
	width: 125px;
	height: 125px;
	box-shadow: 1px 0px 20px 3px rgb(0 0 0 / 50%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cardimg>img
{
	max-width: 80px;
}
.cardhead>p
{
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-decoration: underline;
	text-align: center;
	margin: 1em;
}
.cardcont>p
{
	font-size: 1.65em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-align: center;
}
.wwd
{
	width: 100%;
	min-height: 100vh;
	background: #E5E5E5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4.5em;
	padding: 2em 1em 2em 1em;
}
.whead>p
{
	font-size: 3em;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.whead>p::after
{
	content: '';
	width: 100%;
	height: 5px;
	background: #583999;
	position: absolute;
	bottom: -3px;
	left: 0;
}
.wwdicons
{
	max-width: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 3em;
}
.wimg
{
	display: flex;
	justify-content: flex-end;
}
.wimg>img
{
	max-width: 40%;
}
.alpha,
.beta,
.gama
{
	display: flex;
	align-items: center;
}
.ghead
{
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-decoration: underline;
}
.cont
{
	font-size: 1.65em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.contwrap
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 3em;
}
.vectorwrap>img
{
	max-width: 100%;
}

/*Contact us*/

.contact
{
	display: flex;
	width: 100%;
	background: #FFF;
	flex-direction: column;
	align-items: center;
	padding: 2em 1em 2em 1em;
}
.cthead>p
{
	font-size: 3em;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.cthead>p::after
{
	content: '';
	width: 100%;
	height: 5px;
	background: #583999;
	position: absolute;
	bottom: -3px;
	left: 0;
}
.ctwrap
{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 3em;
	flex-wrap: wrap-reverse;
}
.formwrap
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	max-width: 50%;
	height: 100%;
}
.formwrap>p
{
	font-size: 2.8em;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-decoration: underline;
}
.form
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 400px;
	gap: 2em;
}
.ints
{
	outline: none;
	border: none;
	border-bottom: 2px solid black;
	padding: 10px 5px 10px 5px;
	position: relative;
	font-size: 3em;
	font-weight: 800;
	display: flex;
	min-width: 230px;
}
.ints[placeholder="Your Name"],
.ints[placeholder="Your Email"],
.ints[placeholder="Your Message"]
{
	width: 100%;
	color: black;
	font-size: 2em;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
}
.form input[type="submit"]
{
	padding: 1em 2em 1em 2em;
	background: #583999;
	font-size: 1.6em;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	color: white;
	border: none;
	outline: none;
	border-radius: 25px;
	cursor: pointer;
}
.ctcont
{
	max-width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	justify-content: center
}
.ch1
{
	font-size: 2em;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
}
.ch2
{
	font-size: 1.8em;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	max-width: 75%;
}
.ch3
{
	font-size: 2em;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
}
.footer
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #E5E5E5;
	width: 100%;
	padding: 2em 0 0 0;
	position: relative;
	flex-direction: column;
}
.footerwrap
{
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 5em;
	flex-wrap: wrap;
}
.companyinfo,
.ctinfo
{
	max-width: 50%;
}
.chead
{
	font-size: 3em;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
}
.cihead
{
	font-size: 2.7em;
	font-weight: 600;
}
.name
{
	text-decoration: underline;
}
.num,
.addr,
.mail,
.name
{
	font-size: 2em;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
.ccont
{
	
	font-size: 2em;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
.devinfo
{
	width: 100%;
	padding: .7em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #191919;
	color: white;
}
.devinfo>p
{
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.devinfo>p>span>a
{
	font-size: inherit;
	font-weight: 500;
	text-decoration: none;
	color: white;
}
.devinfo>p>span
{
	font: inherit;
	text-decoration: underline;
}
.copyright
{
	font-size: 1.8em;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
@media (max-width: 960px) {
	.navlogo>p
	{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 2.4em;
		color: white;
	}
  	.navitems
  	{
  		display: none;
  	}
  	.ham
  	{
  		display: flex;
  		justify-content: center;
  		width: 50px;
  		height: 50px;
  	}
	.vectorwrap
	{
		display: none;
	}
	.alpha,
	.beta,
	.gama
	{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.wimg
	{
		display: flex;
		justify-content: center;
	}
	.alphacont,
	.betacont,
	.gamacont
	{
		text-align: center;
		margin-top: 3em;
	}
	.ctcont
	{
		margin-top: 3em;
	}
	.formwrap, .form
	{
		width: 100%;
		align-items: center;
	}
	.ch1, .ch3
	{
		font-size: 1.85em;
	}
	.ch2
	{
		font-size: 1.6em;
	}
}
@media (max-width: 625px) {
  	.companyinfo,
	.ctinfo
	{
		text-align: center;
	}
	.chead
	{
		font-size: 2.5em;
	}
}